#IndexHeadInsert '<link rel="stylesheet" href="/.style.css">'

ErrorDocument 400 https://openftp.xyz/.error.php
ErrorDocument 401 https://openftp.xyz/.error.php
ErrorDocument 403 https://openftp.xyz/.error.php
ErrorDocument 404 https://openftp.xyz/.error.php
ErrorDocument 405 https://openftp.xyz/.error.php
ErrorDocument 408 https://openftp.xyz/.error.php
ErrorDocument 414 https://openftp.xyz/.error.php
ErrorDocument 500 https://openftp.xyz/.error.php
ErrorDocument 502 https://openftp.xyz/.error.php
ErrorDocument 504 https://openftp.xyz/.error.php

IndexOptions FancyIndexing
IndexOptions FoldersFirst
IndexOptions NameWidth=*

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>

Options +Indexes